.row.d-flex.justify-content-between.align-items-center
  .col-auto
    %h1 About
  .col-auto
    = link_to "Edit Info", edit_admin_about_path, class: "btn btn-success"
.row
  .col-md-12
    - if @about.photo.attached?
      = image_tag url_for(@about.photo), class: "float-left mr-4 mb-4 w-25 w-md-100 rounded"
    - else
      %i There is currently no photo
    = simple_format(@about.bio)
    %p
      - if @about.resume.attached?
        = link_to "Resume can be viewed here", url_for(@about.resume)
      - else
        %i There is currently no resume